<form class="" action="/add_patient" method="post">
  <div class="form-group">
    <label for="patient-name">Name of Patient</label>
    <input type="text" class="form-control" name="patient-name" placeholder="Last Name, First Name">

  </div>
  <div class="form-group">
  <label for="birthday">Date of Birth</label>
    <input type="date" class="form-control" name="birthday">

  </div>

  <div class="form-group">
    <label for="doctor-id">Doctors</label>
    <select class="form-control" name="doctor-id">
      <% @doctors.each do |doctor| %>
        <option value="<%=doctor.id%>"><%= doctor.name %>: <%= doctor.field %> specialist</option>
      <%end%>
    </select>
  </div>

  <button type="submit" name="add-patient" class="btn btn-info">Add a patient</button>
</form>

<%if @patient.class == Patient %>
  <p><%= @patient.name %> has been added to database</p>
<% end %>

<a href="/admin">Back</a>
<a href="/">Home</a>
