<form action="/add_specialty" method="post">
  <div class="form-group">
    <input type="text" class="form-control" name="specialty-field" placeholder="logogy">
  </div>
  <button type="submit" name="add-specialty" class="btn btn-info">Add a Specialty option</button>
</form>

<%if @specialty.class == Specialty %>
  <p><%= @specialty.field %> has been added to the specialties database</p>
<% end %>

<% if @specialties.length > 0%>
<h3>Current Specialties</h3>
<ul>
<% @specialties.each do |specialty| %>
      <li><%= specialty.field %></li>
<% end %>
</ul>
<%end%>
<a href="/admin">Back</a>
<a href="/">Home</a>
